body
{
	margin: 0;
	padding: 0;
	padding-top: 50px;
	background-color: #3d3d3d;
}

body,
input
{
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	line-height: 1em;
}

#content
{
	width: 600px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom:;
	margin: auto;
	background-color: #eaeaea;
	box-shadow: 0 4px 24px rgba(0,0,0,0.55);
}

#content header,
.perforatedForm footer,
#thanks
{
	padding-left: 50px;
	padding-right: 50px;
	margin-left: -50px;
	margin-right: -50px;
}
#content header
{
	padding-top: 51px;
	padding-bottom: 27px;
	margin-bottom: 27px;
}
hr
{
	border: none;
}
#content header,
hr
{
	border-bottom: 1px dotted #303030;
}

#content h1,
#content h2
{
	padding: 0;
	margin: 0;
	
}
#content h1
{
	font-size: 27px;
	line-height: 1em;
	font-weight: 200;
	font-style: italic;
	
	color: #aaa;
}
#content h2
{
	padding-left: 50px;
	padding-right: 50px;
	margin-left: -50px;
	margin-right: -50px;
	
	margin-top: 24px;
	margin-bottom: 24px;
	
	font-size: 24px;
	line-height: 48px;
	font-weight: 400;
	color: #555;
}

#content h3
{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
	margin-top: 24px;
	margin-bottom: 8px;
}

.perforatedForm fieldset
{
	margin: 0;
	padding: 0;
}

.perforatedForm input,
.perforatedForm textarea
{
	font-size: 18px;
	line-height: 24px;
	min-height: 24px;
	border: 1px solid #aaa;
}

.perforatedForm input[type="text"],
.perforatedForm input[type="email"],
.perforatedForm input[type="url"],
.perforatedForm textarea
{
	box-sizing: border-box;
	width: 600px;
	max-width: 600px;
}

.perforatedForm footer,
#thanks
{
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #f6f6f6;
}

.perforatedForm footer
{
	margin-top: 48px;
	text-align: right;
}

.perforatedForm input.submitApplicationButton
{
	line-height: 47px;
	height: 52px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 24px;
	font-weight: 400;
	background-color: transparent;
	color: black;
	border: 1px dotted #e6e6e6;
}
.perforatedForm input.submitApplicationButton:hover
{
	background-color: #aaa;
	color: white;
	border: 1px dotted transparent;
	cursor: pointer;
}

.perforatedForm .problem
{
	font-size: 16px;
	line-height: 24px;
	color: #c60000;
}


#thanks ul
{
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	list-style-type: circle;
	color: #aaa;
}
#thanks ul li
{
	margin-bottom: 8px;
}
#thanks ul strong
{
	font-weight: inherit;
	color: black;
}